body, html {
    height: 99.2% !important;
}

.card_container {
    float: left;
    margin: 1% 0 0 1%;
    width: 18.8%;
    height: 21.5%;
    font-size: 110px;
}

.card {
    height: 100%;
    width: 100%;
}

.card_back {
    background-size: 125px;
}

@media only screen and (max-width: 1600px) {
    .card_back {
        background-size: 105px;
    }
    
    .card_container {
        font-size: 80px;
    }
}
