* {
    box-sizing: border-box;
}


html, body {  
    background-image: linear-gradient(orange, purple, blue);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    width: 100%;
    margin: auto;
}


h1:hover, h2:hover, h3:hover, p:hover, li:hover, .radio_buttons_text:hover {
    cursor: default;
}

li {
    font-size: 22px;
}


button {
    background-color: black;
    border: 3px solid white;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}


button:hover {
    cursor: pointer;
}


.bottom_tab {
    border: 5px solid white;
    height: 22%;
    margin: 1%;
    margin-left: 9.7%;
    background-image: linear-gradient(blue, purple, orange);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    width: 75%;
}


.bottom_tab_text, .bottom_tab_buttons {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}


.buttons {
    color: white;
    height: 80%;
    width: 30%;
    font-size: 30px;
    background: black;
    border: 4px solid white;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 2.6%;
}


#game_button {
    width: 70%;
}


#bottom_tab_display {
    background: black;
    border: 4px solid white;
    width: 60%;
    margin-left: 20%;
    font-size: 40px;
    padding-top: 4%;
}


@media only screen and (max-width: 1600px) {
    .text, .scores {
        font-size: 27px;
    }

    .buttons {
        font-size: 22px;
    }
}


.game_container {
    perspective: 1800px;
    width: 84.7%;
    height: 66%;
    color: white;
    position: relative;
    padding-top: 0.5%;
    padding-left: 9.7%;
}


.game {
    width: 100%;
    height: 100%;
    border: 5px solid black;
    border-radius: 15px;
    background-image: linear-gradient(blue, purple, orange);
    transition: transform 1.7s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.game_front, .game_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.game_back {
    transform: rotateY(180deg);
}


.FlipGame {
    transform: rotateY(180deg);
}


.card_container {
    perspective: 1000px;
    color: white;
    position: relative;
}


.card {
    opacity: 0;
    background: black;
    border-radius: 7px;
    border: 4px solid white;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.7s, opacity 1.5s ease;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card_front, .card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.card_back {
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateY(180deg);
}


.FlipCard {
    transform: rotateY(180deg);
}



.winning_screen {
    background-image: linear-gradient(blue, purple, orange);
    color: white;
    border: 5px solid white;
    font-size: 100px;
    text-align: center;
    border-radius: 9px;
}

#winning_text {
    margin-top: 15%;
}

#winning_screen1 {
    width: 100%;
    height: 100%;
}

#winning_screen2 {
    width: 80%;
    height: 80%;
    margin-top: 4%;
    margin-left: 10%;
    background: black;
}


#add_placement {
    background: white;
    opacity: 0.3;
    height: 100%;
    width: 9%;
    float: left;
    text-align: center;
    margin-top: 50%;
}

#score_placement {
    height: 100%;
    width: 14%;
    float: right;
    padding-top: 0.5%;
}

#score_block {
    background-color: black;
    height: 60%;
    width: 100%;
    border: 3px solid white;
    color: white;
    text-align: center;
}

#score_placement_add_placement {
    background: white;
    opacity: 0.3;
    height: 40%;
    width: 100%;
    float: none;
}

#scores_list {
    font-size: 26px;
}

ol {
    padding-inline-start: 0px;
    cursor: default;
}
